* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
:root {
    --font-color: #403B3B;
    --primary-color: #D24444;
}
body {
    padding: 0px 140px;
    background-image:url(../Images/flowerbasket-lg.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    background-attachment: fixed;
}
header {
    padding-top: 25px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 18px;
    font-weight: 600;
}
.logo span {
    color: var(--primary-color);
}
.nav__list {
    list-style: none;
    display: flex;
    width: 100%;
}
.nav__item {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 600;

    &:last-of-type {
        margin-right: 0;
    }
    
}

.nav__link {
    text-decoration: none;
    color: var(--font-color);
    font-size: 20px;

    &:hover {
        color: var(--primary-color);
    }
}
.toggle {
    background-image: url(../Images/menu.png);
    width: 60px;
    height: 60px;
    background-color: rgb(168, 28, 28);
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    z-index: 15;
}
.toggle.active {
    background-image: url(../Images/close.png);
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 15;
}

.home {

    &__desc {
        position: absolute;
        top: 275px;
        font-size: 45px;
        font-weight: 400;
    }
    &__btn {
        position: absolute;
        top: 540px;
        padding: 15px 80px;
        border: 1px solid var(--primary-color);
        border-radius: 40px;
        background-color: var(--primary-color);
        color: var(--font-color);
        font-size: 25px;
        font-weight: 600;
        text-decoration: none;
        &:hover {
            background-color: transparent;
            border: 2px solid var(--primary-color);
            color: var(--primary-color);
        }
    }
}
@media only screen and(max-width:768px) {
    body {
        padding: 0 30px;
        background-image: url(../Images/flowerbasket-sm.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .toggle {
        display: flex;
    }
    .navigation {
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: var(--primary-color);
        z-index: 10;
        top: 0;
        left: 0;
        display: none;
    }
    .navigation.active {
        display: block;
    }
    .nav__list {
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .nav__item {
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 30px;
    }
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home__desc {
        font-size: 30px;
        text-align: center;
        top: 140px;
        line-height: 60px;
    }
    .home__btn {
        font-size: 20px;
        top: 432px;
        text-align: center;
        padding: 18px 70px;
    }
}
