* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
:root {
    --font-color: #403B3B;
    --primary-color: #D24444;
}
body {
    padding: 0px 100px;
    background-image:url(../Images/flowerbasket-lg.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

/*HEADER*/
header {
    padding-top: 33px; 
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 18px;
    font-weight: 400;
}
.logo span {
    color: var(--primary-color);
}
.nav__list {
    list-style: none;
    display: flex;
    width: 100%;
}
.nav__item {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 600;

    &:last-of-type {
        margin-right: 0;
    }
}
.nav__link {
    text-decoration: none;
    color: var(--font-color);
    font-size: 20px;

    &:hover {
        color: var(--primary-color);
    }
}
.toggle {
    background-image: url(../Images/menu-btn.png);
    width: 60px;
    height: 60px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    z-index: 15;
}
.toggle.active {
    background-image: url(../Images/close-btn.png);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 15;
    width:60px;
    height: 60px;
}

/*SECTION*/
.home {
    width: 100%;
    height: 90vh;
    border-radius: 20px;
    
    &__desc {
        margin: 180px 0px 50px 0px;
        font-size: 50px;
        font-weight: 400;
    }
    &__btn {
        
        padding: 14px 64px;
        border: 1px solid var(--primary-color);
        border-radius: 40px;
        background-color: var(--primary-color);
        color: var(--font-color);
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        &:hover {
            background-color: transparent;
            border: 2px solid var(--primary-color);
            color: var(--primary-color);
        }
    }
}
@media only screen and(max-width:768px) {
    body {
        padding: 0 20px;
        background: url(../Images/flowerbasket-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top;
    }
    .toggle {
        display: flex;
    }
    .navigation {
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: #B4B4B5;
        z-index: 10;
        top: 0;
        left: 0;
        display: none;
    }
    .navigation.active {
        display: block;
    }
    .nav__list {
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .nav__item {
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 400;
    }
    .home {
        text-align: center;

        &__desc {
            font-size: 30px;
            line-height: 60px;
        }
        &__btn {
            font-size: 18px;
            padding: 10px 50px;
        }
    }  
}
@media only screen and(max-width:400px) {
    .home__desc {
        line-height: 50px;
        margin-top: 40px;
    }
}
